:root {
  --wwwsamsungcomblack: rgba(0, 0, 0, 1);
  --wwwsamsungcomnero: rgba(255, 255, 255, 1);
  --wwwsamsungcomnero-15: rgba(255, 255, 255, 0.15);
  --wwwsamsungcomnero-95: rgba(255, 255, 255, 0.95);
  --wwwsamsungcomnero-45: rgba(255, 255, 255, 0.45);
  --wwwsamsungcomnero-25: rgba(255, 255, 255, 0.25);
  --wwwsamsungcomwild-sand: rgba(244, 244, 244, 1);
  --wwwsamsungcomjapanese-laurel: rgba(32, 162, 255, 1);
  --wwwsamsungcomgreen-haze: rgba(0, 153, 73, 1);
  --wwwsamsungcomblack-45: rgba(0, 0, 0, 0.45);
  --wwwsamsungcomblack-20: rgba(0, 0, 0, 0.2);
  --wwwsamsungcomboulder: rgba(117, 117, 117, 1);
  --wwwsamsungcomemperor: rgba(85, 85, 85, 1);
  --wwwsamsungcomnero-30: rgba(255, 255, 255, 0.3);
  --wwwsamsungcomblack-15: rgba(0, 0, 0, 0.15);
  --wwwsamsungcommine-shaft: rgba(37, 37, 37, 1);
  --wwwsamsungcomalto: rgba(217, 217, 217, 1);
  --wwwsamsungcomsilver: rgba(204, 204, 204, 1);
  --wwwsamsungcomsilver-chalice: rgba(173, 171, 171, 1);
  --www-samsung-com-inter-regular-14-88-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-14-88-font-weight: 400;
  --www-samsung-com-inter-regular-14-88-font-size: 14.875px;
  --www-samsung-com-inter-regular-14-88-letter-spacing: 0px;
  --www-samsung-com-inter-regular-14-88-line-height: 18.399999618530273px;
  --www-samsung-com-inter-regular-14-88-font-style: normal;
  --www-samsung-com-inter-bold-48-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-48-font-weight: 700;
  --www-samsung-com-inter-bold-48-font-size: 48px;
  --www-samsung-com-inter-bold-48-letter-spacing: 0px;
  --www-samsung-com-inter-bold-48-line-height: 57.599998474121094px;
  --www-samsung-com-inter-bold-48-font-style: normal;
  --www-samsung-com-inter-regular-16-45-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-16-45-font-weight: 400;
  --www-samsung-com-inter-regular-16-45-font-size: 16.453125px;
  --www-samsung-com-inter-regular-16-45-letter-spacing: 0px;
  --www-samsung-com-inter-regular-16-45-line-height: 23.940000534057617px;
  --www-samsung-com-inter-regular-16-45-font-style: normal;
  --www-samsung-com-inter-regular-13-5-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-5-font-weight: 400;
  --www-samsung-com-inter-regular-13-5-font-size: 13.5px;
  --www-samsung-com-inter-regular-13-5-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-5-line-height: 0px;
  --www-samsung-com-inter-regular-13-5-font-style: normal;
  --www-samsung-com-inter-regular-16-73-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-16-73-font-weight: 400;
  --www-samsung-com-inter-regular-16-73-font-size: 16.734375px;
  --www-samsung-com-inter-regular-16-73-letter-spacing: 0px;
  --www-samsung-com-inter-regular-16-73-line-height: 23.940000534057617px;
  --www-samsung-com-inter-regular-16-73-font-style: normal;
  --www-samsung-com-inter-bold-12-8-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-8-font-weight: 700;
  --www-samsung-com-inter-bold-12-8-font-size: 12.796875px;
  --www-samsung-com-inter-bold-12-8-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-8-line-height: 32px;
  --www-samsung-com-inter-bold-12-8-font-style: normal;
  --www-samsung-com-inter-bold-12-47-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-47-font-weight: 700;
  --www-samsung-com-inter-bold-12-47-font-size: 12.46875px;
  --www-samsung-com-inter-bold-12-47-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-47-line-height: 18.6200008392334px;
  --www-samsung-com-inter-bold-12-47-font-style: normal;
  --www-samsung-com-inter-bold-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-38-font-weight: 700;
  --www-samsung-com-inter-bold-38-font-size: 38px;
  --www-samsung-com-inter-bold-38-letter-spacing: 0px;
  --www-samsung-com-inter-bold-38-line-height: 45.599998474121094px;
  --www-samsung-com-inter-bold-38-font-style: normal;
  --www-samsung-com-inter-bold-16-31-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-16-31-font-weight: 700;
  --www-samsung-com-inter-bold-16-31-font-size: 16.3125px;
  --www-samsung-com-inter-bold-16-31-letter-spacing: 0px;
  --www-samsung-com-inter-bold-16-31-line-height: 24px;
  --www-samsung-com-inter-bold-16-31-font-style: normal;
  --www-samsung-com-inter-bold-15-75-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-15-75-font-weight: 700;
  --www-samsung-com-inter-bold-15-75-font-size: 15.75px;
  --www-samsung-com-inter-bold-15-75-letter-spacing: 0px;
  --www-samsung-com-inter-bold-15-75-line-height: 23.940000534057617px;
  --www-samsung-com-inter-bold-15-75-font-style: normal;
  --www-samsung-com-inter-bold-16-17-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-16-17-font-weight: 700;
  --www-samsung-com-inter-bold-16-17-font-size: 16.171875px;
  --www-samsung-com-inter-bold-16-17-letter-spacing: 0px;
  --www-samsung-com-inter-bold-16-17-line-height: 23.940000534057617px;
  --www-samsung-com-inter-bold-16-17-font-style: normal;
  --www-samsung-com-inter-bold-16-03-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-16-03-font-weight: 700;
  --www-samsung-com-inter-bold-16-03-font-size: 16.03125px;
  --www-samsung-com-inter-bold-16-03-letter-spacing: 0px;
  --www-samsung-com-inter-bold-16-03-line-height: 23.940000534057617px;
  --www-samsung-com-inter-bold-16-03-font-style: normal;
  --www-samsung-com-inter-bold-12-14-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-14-font-weight: 700;
  --www-samsung-com-inter-bold-12-14-font-size: 12.140625px;
  --www-samsung-com-inter-bold-12-14-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-14-line-height: 14px;
  --www-samsung-com-inter-bold-12-14-font-style: normal;
  --www-samsung-com-inter-regular-10-5-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-10-5-font-weight: 400;
  --www-samsung-com-inter-regular-10-5-font-size: 10.5px;
  --www-samsung-com-inter-regular-10-5-letter-spacing: 0px;
  --www-samsung-com-inter-regular-10-5-line-height: 12px;
  --www-samsung-com-inter-regular-10-5-font-style: normal;
  --www-samsung-com-inter-bold-8-44-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-8-44-font-weight: 700;
  --www-samsung-com-inter-bold-8-44-font-size: 8.4375px;
  --www-samsung-com-inter-bold-8-44-letter-spacing: 0px;
  --www-samsung-com-inter-bold-8-44-line-height: 16px;
  --www-samsung-com-inter-bold-8-44-font-style: normal;
  --www-samsung-com-inter-bold-12-25-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-25-font-weight: 700;
  --www-samsung-com-inter-bold-12-25-font-size: 12.25px;
  --www-samsung-com-inter-bold-12-25-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-25-line-height: 32px;
  --www-samsung-com-inter-bold-12-25-font-style: normal;
  --www-samsung-com-inter-regular-10-88-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-10-88-font-weight: 400;
  --www-samsung-com-inter-regular-10-88-font-size: 10.875px;
  --www-samsung-com-inter-regular-10-88-letter-spacing: 0px;
  --www-samsung-com-inter-regular-10-88-line-height: 15.960000038146973px;
  --www-samsung-com-inter-regular-10-88-font-style: normal;
  --www-samsung-com-inter-bold-15-89-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-15-89-font-weight: 700;
  --www-samsung-com-inter-bold-15-89-font-size: 15.890625px;
  --www-samsung-com-inter-bold-15-89-letter-spacing: 0px;
  --www-samsung-com-inter-bold-15-89-line-height: 23.940000534057617px;
  --www-samsung-com-inter-bold-15-89-font-style: normal;
  --www-samsung-com-inter-bold-25-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-25-38-font-weight: 700;
  --www-samsung-com-inter-bold-25-38-font-size: 25.375px;
  --www-samsung-com-inter-bold-25-38-letter-spacing: 0px;
  --www-samsung-com-inter-bold-25-38-line-height: 37.2400016784668px;
  --www-samsung-com-inter-bold-25-38-font-style: normal;
  --www-samsung-com-inter-bold-12-36-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-36-font-weight: 700;
  --www-samsung-com-inter-bold-12-36-font-size: 12.359375px;
  --www-samsung-com-inter-bold-12-36-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-36-line-height: 18.6200008392334px;
  --www-samsung-com-inter-bold-12-36-font-style: normal;
  --www-samsung-com-inter-bold-47-06-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-47-06-font-weight: 700;
  --www-samsung-com-inter-bold-47-06-font-size: 47.0625px;
  --www-samsung-com-inter-bold-47-06-letter-spacing: 0px;
  --www-samsung-com-inter-bold-47-06-line-height: 57.599998474121094px;
  --www-samsung-com-inter-bold-47-06-font-style: normal;
  --www-samsung-com-inter-regular-16-31-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-16-31-font-weight: 400;
  --www-samsung-com-inter-regular-16-31-font-size: 16.3125px;
  --www-samsung-com-inter-regular-16-31-letter-spacing: 0px;
  --www-samsung-com-inter-regular-16-31-line-height: 23.940000534057617px;
  --www-samsung-com-inter-regular-16-31-font-style: normal;
  --www-samsung-com-inter-regular-13-08-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-08-font-weight: 400;
  --www-samsung-com-inter-regular-13-08-font-size: 13.078125px;
  --www-samsung-com-inter-regular-13-08-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-08-line-height: 0px;
  --www-samsung-com-inter-regular-13-08-font-style: normal;
  --www-samsung-com-inter-bold-12-69-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-69-font-weight: 700;
  --www-samsung-com-inter-bold-12-69-font-size: 12.6875px;
  --www-samsung-com-inter-bold-12-69-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-69-line-height: 19px;
  --www-samsung-com-inter-bold-12-69-font-style: normal;
  --www-samsung-com-inter-bold-15-61-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-15-61-font-weight: 700;
  --www-samsung-com-inter-bold-15-61-font-size: 15.609375px;
  --www-samsung-com-inter-bold-15-61-letter-spacing: 0px;
  --www-samsung-com-inter-bold-15-61-line-height: 24px;
  --www-samsung-com-inter-bold-15-61-font-style: normal;
  --www-samsung-com-inter-bold-36-81-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-36-81-font-weight: 700;
  --www-samsung-com-inter-bold-36-81-font-size: 36.8125px;
  --www-samsung-com-inter-bold-36-81-letter-spacing: 0px;
  --www-samsung-com-inter-bold-36-81-line-height: 45.599998474121094px;
  --www-samsung-com-inter-bold-36-81-font-style: normal;
  --www-samsung-com-inter-bold-12-58-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-58-font-weight: 700;
  --www-samsung-com-inter-bold-12-58-font-size: 12.578125px;
  --www-samsung-com-inter-bold-12-58-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-58-line-height: 32px;
  --www-samsung-com-inter-bold-12-58-font-style: normal;
  --www-samsung-com-inter-bold-16-45-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-16-45-font-weight: 700;
  --www-samsung-com-inter-bold-16-45-font-size: 16.453125px;
  --www-samsung-com-inter-bold-16-45-letter-spacing: 0px;
  --www-samsung-com-inter-bold-16-45-line-height: 24px;
  --www-samsung-com-inter-bold-16-45-font-style: normal;
  --www-samsung-com-inter-regular-16-59-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-16-59-font-weight: 400;
  --www-samsung-com-inter-regular-16-59-font-size: 16.59375px;
  --www-samsung-com-inter-regular-16-59-letter-spacing: 0px;
  --www-samsung-com-inter-regular-16-59-line-height: 23.940000534057617px;
  --www-samsung-com-inter-regular-16-59-font-style: normal;
  --www-samsung-com-inter-bold-37-11-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-37-11-font-weight: 700;
  --www-samsung-com-inter-bold-37-11-font-size: 37.109375px;
  --www-samsung-com-inter-bold-37-11-letter-spacing: 0px;
  --www-samsung-com-inter-bold-37-11-line-height: 45.599998474121094px;
  --www-samsung-com-inter-bold-37-11-font-style: normal;
  --www-samsung-com-inter-bold-12-63-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-63-font-weight: 700;
  --www-samsung-com-inter-bold-12-63-font-size: 12.625px;
  --www-samsung-com-inter-bold-12-63-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-63-line-height: 21.280000686645508px;
  --www-samsung-com-inter-bold-12-63-font-style: normal;
  --www-samsung-com-inter-bold-24-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-24-font-weight: 700;
  --www-samsung-com-inter-bold-24-font-size: 24px;
  --www-samsung-com-inter-bold-24-letter-spacing: 0px;
  --www-samsung-com-inter-bold-24-line-height: 31.920000076293945px;
  --www-samsung-com-inter-bold-24-font-style: normal;
  --www-samsung-com-inter-bold-13-75-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-13-75-font-weight: 700;
  --www-samsung-com-inter-bold-13-75-font-size: 13.75px;
  --www-samsung-com-inter-bold-13-75-letter-spacing: 0px;
  --www-samsung-com-inter-bold-13-75-line-height: 21.280000686645508px;
  --www-samsung-com-inter-bold-13-75-font-style: normal;
  --www-samsung-com-inter-bold-13-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-13-font-weight: 700;
  --www-samsung-com-inter-bold-13-font-size: 13px;
  --www-samsung-com-inter-bold-13-letter-spacing: 0px;
  --www-samsung-com-inter-bold-13-line-height: 21.280000686645508px;
  --www-samsung-com-inter-bold-13-font-style: normal;
  --www-samsung-com-inter-bold-14-25-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-14-25-font-weight: 700;
  --www-samsung-com-inter-bold-14-25-font-size: 14.25px;
  --www-samsung-com-inter-bold-14-25-letter-spacing: 0px;
  --www-samsung-com-inter-bold-14-25-line-height: 21.280000686645508px;
  --www-samsung-com-inter-bold-14-25-font-style: normal;
  --www-samsung-com-inter-bold-13-63-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-13-63-font-weight: 700;
  --www-samsung-com-inter-bold-13-63-font-size: 13.625px;
  --www-samsung-com-inter-bold-13-63-letter-spacing: 0px;
  --www-samsung-com-inter-bold-13-63-line-height: 21.280000686645508px;
  --www-samsung-com-inter-bold-13-63-font-style: normal;
  --www-samsung-com-inter-regular-1-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-1-font-weight: 400;
  --www-samsung-com-inter-regular-1-font-size: 1px;
  --www-samsung-com-inter-regular-1-letter-spacing: 0px;
  --www-samsung-com-inter-regular-1-line-height: 1px;
  --www-samsung-com-inter-regular-1-font-style: normal;
  --www-samsung-com-inter-regular-11-06-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-11-06-font-weight: 400;
  --www-samsung-com-inter-regular-11-06-font-size: 11.0625px;
  --www-samsung-com-inter-regular-11-06-letter-spacing: 0px;
  --www-samsung-com-inter-regular-11-06-line-height: 15.960000038146973px;
  --www-samsung-com-inter-regular-11-06-font-style: normal;
  --www-samsung-com-inter-regular-11-25-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-11-25-font-weight: 400;
  --www-samsung-com-inter-regular-11-25-font-size: 11.25px;
  --www-samsung-com-inter-regular-11-25-letter-spacing: 0px;
  --www-samsung-com-inter-regular-11-25-line-height: 15.960000038146973px;
  --www-samsung-com-inter-regular-11-25-font-style: normal;
  --www-samsung-com-inter-regular-10-69-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-10-69-font-weight: 400;
  --www-samsung-com-inter-regular-10-69-font-size: 10.6875px;
  --www-samsung-com-inter-regular-10-69-letter-spacing: 0px;
  --www-samsung-com-inter-regular-10-69-line-height: 15.960000038146973px;
  --www-samsung-com-inter-regular-10-69-font-style: normal;
  --www-samsung-com-inter-bold-12-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-font-weight: 700;
  --www-samsung-com-inter-bold-12-font-size: 12px;
  --www-samsung-com-inter-bold-12-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-line-height: 16px;
  --www-samsung-com-inter-bold-12-font-style: normal;
  --www-samsung-com-inter-bold-14-41-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-14-41-font-weight: 700;
  --www-samsung-com-inter-bold-14-41-font-size: 14.4140625px;
  --www-samsung-com-inter-bold-14-41-letter-spacing: 0px;
  --www-samsung-com-inter-bold-14-41-line-height: normal;
  --www-samsung-com-inter-bold-14-41-font-style: normal;
  --www-samsung-com-inter-regular-9-8-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-9-8-font-weight: 400;
  --www-samsung-com-inter-regular-9-8-font-size: 9.800000190734863px;
  --www-samsung-com-inter-regular-9-8-letter-spacing: 0px;
  --www-samsung-com-inter-regular-9-8-line-height: 0px;
  --www-samsung-com-inter-regular-9-8-font-style: normal;
  --www-samsung-com-inter-regular-12-91-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-12-91-font-weight: 400;
  --www-samsung-com-inter-regular-12-91-font-size: 12.90625px;
  --www-samsung-com-inter-regular-12-91-letter-spacing: 0px;
  --www-samsung-com-inter-regular-12-91-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-12-91-font-style: normal;
  --www-samsung-com-inter-regular-13-02-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-02-font-weight: 400;
  --www-samsung-com-inter-regular-13-02-font-size: 13.015625px;
  --www-samsung-com-inter-regular-13-02-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-02-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-02-font-style: normal;
  --www-samsung-com-inter-regular-9-49-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-9-49-font-weight: 400;
  --www-samsung-com-inter-regular-9-49-font-size: 9.49375057220459px;
  --www-samsung-com-inter-regular-9-49-letter-spacing: 0px;
  --www-samsung-com-inter-regular-9-49-line-height: 0px;
  --www-samsung-com-inter-regular-9-49-font-style: normal;
  --www-samsung-com-inter-regular-12-8-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-12-8-font-weight: 400;
  --www-samsung-com-inter-regular-12-8-font-size: 12.796875px;
  --www-samsung-com-inter-regular-12-8-letter-spacing: 0px;
  --www-samsung-com-inter-regular-12-8-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-12-8-font-style: normal;
  --www-samsung-com-inter-regular-13-34-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-34-font-weight: 400;
  --www-samsung-com-inter-regular-13-34-font-size: 13.34375px;
  --www-samsung-com-inter-regular-13-34-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-34-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-34-font-style: normal;
  --www-samsung-com-inter-bold-14-77-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-14-77-font-weight: 700;
  --www-samsung-com-inter-bold-14-77-font-size: 14.765625px;
  --www-samsung-com-inter-bold-14-77-letter-spacing: 0px;
  --www-samsung-com-inter-bold-14-77-line-height: normal;
  --www-samsung-com-inter-bold-14-77-font-style: normal;
  --www-samsung-com-inter-regular-13-23-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-23-font-weight: 400;
  --www-samsung-com-inter-regular-13-23-font-size: 13.234375px;
  --www-samsung-com-inter-regular-13-23-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-23-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-23-font-style: normal;
  --www-samsung-com-inter-regular-9-19-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-9-19-font-weight: 400;
  --www-samsung-com-inter-regular-9-19-font-size: 9.1875px;
  --www-samsung-com-inter-regular-9-19-letter-spacing: 0px;
  --www-samsung-com-inter-regular-9-19-line-height: 0px;
  --www-samsung-com-inter-regular-9-19-font-style: normal;
  --www-samsung-com-inter-regular-13-13-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-13-font-weight: 400;
  --www-samsung-com-inter-regular-13-13-font-size: 13.125px;
  --www-samsung-com-inter-regular-13-13-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-13-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-13-font-style: normal;
  --www-samsung-com-inter-bold-14-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-14-font-weight: 700;
  --www-samsung-com-inter-bold-14-font-size: 14px;
  --www-samsung-com-inter-bold-14-letter-spacing: 0px;
  --www-samsung-com-inter-bold-14-line-height: 16.100000381469727px;
  --www-samsung-com-inter-bold-14-font-style: normal;
  --www-samsung-com-inter-bold-12-69-underline-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-69-underline-font-weight: 700;
  --www-samsung-com-inter-bold-12-69-underline-font-size: 12.6875px;
  --www-samsung-com-inter-bold-12-69-underline-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-69-underline-line-height: 14px;
  --www-samsung-com-inter-bold-12-69-underline-font-style: normal;
  --www-samsung-com-inter-regular-12-69-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-12-69-font-weight: 400;
  --www-samsung-com-inter-regular-12-69-font-size: 12.6875px;
  --www-samsung-com-inter-regular-12-69-letter-spacing: 0px;
  --www-samsung-com-inter-regular-12-69-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-12-69-font-style: normal;
  --www-samsung-com-inter-regular-12-58-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-12-58-font-weight: 400;
  --www-samsung-com-inter-regular-12-58-font-size: 12.578125px;
  --www-samsung-com-inter-regular-12-58-letter-spacing: 0px;
  --www-samsung-com-inter-regular-12-58-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-12-58-font-style: normal;
  --www-samsung-com-inter-regular-13-45-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-45-font-weight: 400;
  --www-samsung-com-inter-regular-13-45-font-size: 13.453125px;
  --www-samsung-com-inter-regular-13-45-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-45-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-45-font-style: normal;
  --www-samsung-com-inter-regular-13-56-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-56-font-weight: 400;
  --www-samsung-com-inter-regular-13-56-font-size: 13.5625px;
  --www-samsung-com-inter-regular-13-56-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-56-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-56-font-style: normal;
  --www-samsung-com-inter-regular-13-67-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-13-67-font-weight: 400;
  --www-samsung-com-inter-regular-13-67-font-size: 13.671875px;
  --www-samsung-com-inter-regular-13-67-letter-spacing: 0px;
  --www-samsung-com-inter-regular-13-67-line-height: 18.6200008392334px;
  --www-samsung-com-inter-regular-13-67-font-style: normal;
  --www-samsung-com-inter-bold-10-88-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-10-88-font-weight: 700;
  --www-samsung-com-inter-bold-10-88-font-size: 10.875px;
  --www-samsung-com-inter-bold-10-88-letter-spacing: 0px;
  --www-samsung-com-inter-bold-10-88-line-height: 15.960000038146973px;
  --www-samsung-com-inter-bold-10-88-font-style: normal;
  --www-samsung-com-inter-bold-12-91-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-91-font-weight: 700;
  --www-samsung-com-inter-bold-12-91-font-size: 12.90625px;
  --www-samsung-com-inter-bold-12-91-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-91-line-height: 32px;
  --www-samsung-com-inter-bold-12-91-font-style: normal;
  --www-samsung-com-inter-bold-12-03-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-bold-12-03-font-weight: 700;
  --www-samsung-com-inter-bold-12-03-font-size: 12.03125px;
  --www-samsung-com-inter-bold-12-03-letter-spacing: 0px;
  --www-samsung-com-inter-bold-12-03-line-height: 32px;
  --www-samsung-com-inter-bold-12-03-font-style: normal;
  --www-samsung-com-inter-semi-bold-14-75-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-semi-bold-14-75-font-weight: 600;
  --www-samsung-com-inter-semi-bold-14-75-font-size: 14.75px;
  --www-samsung-com-inter-semi-bold-14-75-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-semi-bold-14-75-line-height: 24px;
  --www-samsung-com-inter-semi-bold-14-75-font-style: normal;
  --www-samsung-com-inter-regular-14-75-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-14-75-font-weight: 400;
  --www-samsung-com-inter-regular-14-75-font-size: 14.75px;
  --www-samsung-com-inter-regular-14-75-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-14-75-line-height: 24px;
  --www-samsung-com-inter-regular-14-75-font-style: normal;
  --www-samsung-com-inter-semi-bold-14-63-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-semi-bold-14-63-font-weight: 600;
  --www-samsung-com-inter-semi-bold-14-63-font-size: 14.625px;
  --www-samsung-com-inter-semi-bold-14-63-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-semi-bold-14-63-line-height: 24px;
  --www-samsung-com-inter-semi-bold-14-63-font-style: normal;
  --www-samsung-com-inter-regular-14-63-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-14-63-font-weight: 400;
  --www-samsung-com-inter-regular-14-63-font-size: 14.625px;
  --www-samsung-com-inter-regular-14-63-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-14-63-line-height: 24px;
  --www-samsung-com-inter-regular-14-63-font-style: normal;
  --www-samsung-com-inter-semi-bold-14-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-semi-bold-14-38-font-weight: 600;
  --www-samsung-com-inter-semi-bold-14-38-font-size: 14.375px;
  --www-samsung-com-inter-semi-bold-14-38-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-semi-bold-14-38-line-height: 24px;
  --www-samsung-com-inter-semi-bold-14-38-font-style: normal;
  --www-samsung-com-inter-regular-14-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-14-38-font-weight: 400;
  --www-samsung-com-inter-regular-14-38-font-size: 14.375px;
  --www-samsung-com-inter-regular-14-38-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-14-38-line-height: 24px;
  --www-samsung-com-inter-regular-14-38-font-style: normal;
  --www-samsung-com-inter-regular-14-5-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-14-5-font-weight: 400;
  --www-samsung-com-inter-regular-14-5-font-size: 14.5px;
  --www-samsung-com-inter-regular-14-5-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-14-5-line-height: 24px;
  --www-samsung-com-inter-regular-14-5-font-style: normal;
  --www-samsung-com-inter-semi-bold-14-5-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-semi-bold-14-5-font-weight: 600;
  --www-samsung-com-inter-semi-bold-14-5-font-size: 14.5px;
  --www-samsung-com-inter-semi-bold-14-5-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-semi-bold-14-5-line-height: 24px;
  --www-samsung-com-inter-semi-bold-14-5-font-style: normal;
  --www-samsung-com-inter-regular-15-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-15-38-font-weight: 400;
  --www-samsung-com-inter-regular-15-38-font-size: 15.375px;
  --www-samsung-com-inter-regular-15-38-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-15-38-line-height: 24px;
  --www-samsung-com-inter-regular-15-38-font-style: normal;
  --www-samsung-com-inter-semi-bold-15-38-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-semi-bold-15-38-font-weight: 600;
  --www-samsung-com-inter-semi-bold-15-38-font-size: 15.375px;
  --www-samsung-com-inter-semi-bold-15-38-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-semi-bold-15-38-line-height: 24px;
  --www-samsung-com-inter-semi-bold-15-38-font-style: normal;
  --www-samsung-com-inter-regular-15-font-family: "Inter", Helvetica;
  --www-samsung-com-inter-regular-15-font-weight: 400;
  --www-samsung-com-inter-regular-15-font-size: 15px;
  --www-samsung-com-inter-regular-15-letter-spacing: 0.20000000298023224px;
  --www-samsung-com-inter-regular-15-line-height: 24px;
  --www-samsung-com-inter-regular-15-font-style: normal;
}
